name: Debug deployment of Howzapp

on:
  workflow_dispatch

env:
  DOCKER_USER: ${{ vars.DOCKERHUB_USERNAME }}
  DOCKER_BUILD_IMAGE: "howzapp-debug-full"
  APP_DOCKER_IMAGE: ${{ vars.DOCKERHUB_USERNAME }}/howzapp-debug-full
  GCP_PROJECT_ID: "howzapp-techullurgy-full"
  GCP_REGION: "us-central1"
  GCP_ZONE: "us-central1-a"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Rewriting Gradle Wrapper Properties
        run: |
          cat <<EOF > gradle/wrapper/gradle-wrapper.properties
          distributionBase=GRADLE_USER_HOME
          distributionPath=wrapper/dists
          distributionUrl=https\://services.gradle.org/distributions/gradle-9.1.0-bin.zip
          networkTimeout=10000
          validateDistributionUrl=true
          zipStoreBase=GRADLE_USER_HOME
          zipStorePath=wrapper/dists
          EOF

      - name: Build Docker Image
        run: docker build -t my-test-app .

      - name: Push to Docker Hub
        run: |
          echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u $DOCKER_USER --password-stdin
          docker tag my-test-app $APP_DOCKER_IMAGE:latest
          docker push $APP_DOCKER_IMAGE:latest

  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Base64 Docker Compose
        id: docker_compose_content
        run: |
          ENCODED=$(base64 -w 0 -i docker-compose.yml)
          echo "docker_compose_content_base64=$ENCODED" >> $GITHUB_OUTPUT

      - name: Writing Server file
        run: |
          cat <<EOF > terraform/scripts/main.sh
          #!/bin/bash
          export APP_DOCKER_IMAGE=$APP_DOCKER_IMAGE
          export DOCKER_COMPOSE_CONTENT_BASE64=${{ steps.docker_compose_content.outputs.docker_compose_content_base64 }}
          $(cat terraform/scripts/server.sh | grep -v '^#!')
          EOF

      - name: Setup GCP Credentials
        run: echo '${{ secrets.GCP_PROJECT_SA_KEY }}' > terraform/credentials.json

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Initialization
        run: terraform init
        working-directory: terraform

      - name: Terraform Apply
        env:
          TF_VAR_project: ${{ env.GCP_PROJECT_ID }}
          TF_VAR_region: ${{ env.GCP_REGION }}
          TF_VAR_zone: ${{ env.GCP_ZONE }}
        run: terraform apply --auto-approve
        working-directory: terraform